@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = "Master.cshtml";
}



		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.SiteTitle</h1>
				<p>@Model.SiteTitle</p>
			
			
			</div>
		</div>

		<!-- This is where we're going to render our content -->
		
		<div class="container">

			<div class="row section">
				<div class="col-md-12">

			@Model.MainContent

				</div>				
			</div>

		</div>

	
<br/>
<br/>
		<!-- Blog section -->
		<div class="container">

			<div class="row section">
				<div class="col-md-12">
					<h1>Latest 2 project that are completed</h1>
				</div>

				<!-- Blog Post query goes here. -->
				<div class="col-md-4">
				@Umbraco.RenderMacro("listNewestProjects")
				</div>
			
			</div>

		</div>

	