@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ 
 var root = Model.Content.Root();
 var selection = root.FirstChildOfType("projectsOverview").Children()
.Where(x => x.HasValue("projectStatus") && x.GetProperty("projectStatus").Value<string>() == "Completed")
.OrderByDescending(x => x.CreateDate).Take(2);
}


@foreach(var item in selection)
{


    <article class="special">
        <div class="articledate" > @item.CreateDate </div>
        <div class="articletitle"><a href="@item.Url">@item.Name</a></div>
    </article>
    <br>
    <br>
}